# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/backend/node_modules/
# SQLite database
/backend/src/data/*.db
# OS files
.DS_Store
Thumbs.db
# Ignore compiled JS
/backend/dist
