:root {
    --bg-color: #030303;
    --text-color: #ffffff;
    --primary-colour: #0600c2;
    --secondary-colour: #020024;
    --accent-color: #12cda1;
    --secondary-bg-color: #222226;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.login-box {
    width: 500px;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.login-box.center-text {
    text-align: center;
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 85%;
    padding: 10px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 12px;

}
button2 {
    width: 20%;
    padding: 10px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 12px;

}
